<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/profile.css">

</head>

<body class="body">
    
    <%- include("../common/header") %>
  
    <main class="main">
      <form>
        <div class="pf1">
          <p class="pf">PROFILE</p>
          <img src="/images/profile.png" class="pf_image">
        </div>
    
        <div class="pf2">
          <form action="">
            <p class="info_font">닉네임</p>     
            <p class="info_font info_letter-spacing">학과</p>
            <p class="info_font info_letter-spacing">학년</p>
            <p class="info_font">포지션</p>
            <p class="info_font">연락처</p>
            <hr class="hr">
      
            <p class="skills">SKILLS</p>
            <div class="skill">JAVA</div>
            <div class="skill">C</div>
            <div class="sk_font">포트폴리오
              <div class="sk_box"></div>
            </div>
            <div class="sk_font2">팀 프로젝트
              <div class="sk_box"></div>
            </div>
            <div class="sk_font2">수상 이력
              <div class="sk_box"></div>
            </div>
            <div class="sk_font2">자격증
              <div class="sk_box"></div>
            </div>
            <div class="sk_font2">자기소개
              <div class="sk_box"></div>
            </div>
          </form>
          
        </div>
      </form>
      
    </main>
  
  
  </body>

</html>