<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>profile_other</title>
    <link rel="stylesheet" href="/stylesheets/profile_other.css">

</head>
<body>
    
    <header></header>

    <article>
        <section>
            <div class="info_font pf">PROFILE</div>
            <img src="/images/profile.png" class="pf_image">
            <!--<div class="info_font edit">쪽지보내기</div>-->
            <div class="info_font info_name">닉네임</div>
            <div class="info_font info_sub">학과</div>
            <div class="info_font info_grade">학년</div>
            <div class="info_font info_pos">포지션</div>
            <div class="info_font info_add">연락처</div>
        </section>
        <hr>
        <section>
            <div class="skills">SKILLS</div>
            <div class="skill skill_font">JAVA</div>
            <div class="sk_font sk_port">포트폴리오</div>
            <div class="sk_box box_port"></div>
            <div class="sk_font sk_team">팀 프로젝트</div>
            <div class="sk_box box_team"></div>
            <div class="sk_font sk_award">수상 이력</div>
            <div class="sk_box box_award"></div>
            <div class="sk_font sk_lic">자격증</div>
            <div class="sk_box box_lic"></div>
            <div class="sk_font sk_intro">자기소개</div>
            <div class="sk_box box_intro"></div>
            <!--<div class="sk_font sk_pro">팀 프로젝트</div>
            <div class="sk_box box_pro">
                <div class="state state_font">모집 중</div>
            </div>-->
        </section>
    </article>
    
</body>
</html>