<% for(subject in post_intro) { %>
    <div>
        <%= subject %>
    </div>
    <% for(post of post_intro[subject]) { %>
        <div>
            <%= post.title %> | <%= post.description %>
        </div>
        <% } %>
            <% } %>