<% for(subject in post_intro) { %>
    <div class="recent_post_slides">
        <div class="post_category_title">
            <%= subject %>
        </div>
        <div class="slide_wrap">
            <% for(post of post_intro[subject]) { %>
                <a class="recent_post">
                    <div class="post-cover">
                        <div class="post-info">
                            <span class="post_description">
                                <%= post.description %>
                            </span>
                        </div>
                    </div>
                    <img src="https://picsum.photos/320/240" alt="">
                    <div class="post_info">
                        <span class="post_title">
                            <%= post.title %>
                        </span>
                    </div>

                </a>
                <% } %>
        </div>
    </div>
    <% } %>