html, body{
    max-width: 100%;
    overflow-x: hidden;
}
.content{
    width: 100%;
    
}
.search__section{
    width: 100%;
    height: 290px;
    background-color: #000538;
    align-items: center;
    color: white;
}

.search_bar{
    width: 300px;
    height: 200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}

.search_bar > input{
    width: 100%;
    margin-top: 30px;
    height: 35px;
}



.recent_post_slides{
    width: 80vw;
    margin: 50px auto;
    position: relative;

}

.post_category_head{
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.post_category_title{
    font-size: 40px;
}

.more_post{
    text-decoration: none;

    border-radius: 15px;
    padding: 10px;
    line-height: normal;
}

.more_post:hover{
    background-color: #0088a9;
}

.slide_wrap{
    display: flex;
    flex-wrap: nowrap;
    /* overflow-x: auto; */
    /* overflow-y: hidden; */
    overflow: hidden;
    justify-content: space-between;
}

.slide_wrap > .recent_post {
    margin-right: 15px;
    flex: 0 0 auto;
    width: calc(25% - 15px);
    position: relative;
}


.recent_post > img {
    width: 100%;
    height: 90%;
    object-fit: cover;
}



.post-cover {
    z-index: 100;
    width: 100%;
    height: 90%;
    position: absolute;
    background-color: black;
    opacity: 0;
    transition: all ease 0.2s;
}


.post-info {
    /* z-index: ; */
    color: white;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.post-cover:hover {
    opacity: 0.5;
}


.post_info{
    display: flex;
    justify-content: space-between;
}

.arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}


.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}



.slideLeft, .slideRight {
    border: none;
    background-color: transparent;
    font-family: inherit;
    padding: 0;
    cursor: pointer;
    position: absolute;
    width: 50px;
    height: 50px;
    top: calc(50% - 25px);
}

.slideLeft{
    left: -50px;
}

.slideRight{
    right: -50px;
}