.nav {
    width: 100%;
    height: 7vh;
    display: flex;
    background: #000538;
    border-top: 1.5px solid #424779;
    align-items: center;
    justify-content: space-between;
}
.navp {
    font-size: 15px;
    line-height: 100%;
    letter-spacing: 0.1em;
    background: #000538;
    display: flex;
    list-style: none;
    height: 100%;
    vertical-align: middle;
    align-items: center;
    padding: 0px;
    margin: 0px;
}
.navp li{
    display: inline-block;
    padding: 0px 55px;
    text-align: center;
}

.navp li a{
    text-decoration: none;
    color: #FFFFFF;
}

.new_post {
    color: #FFFFFF;
    display: flex;
    align-items: center;
    padding: 0px 70px;
}

.new_post a {
    text-decoration: none;
    color: #FFFFFF;
    letter-spacing: 0.1em;
}