body{
    margin:0;
    height: 100%;
    width: 100%;
}

main{
    margin-left: 10%;
}

#write{
    box-sizing: content-box;
    width: 60%;
    height: auto;
    border: 1px solid black;
    padding:20px;
    padding-left:40px;
    float: left;
    margin-bottom: 30px;
}

.contents{
    font-weight: bold;
    padding: 5px;
}

a{
    text-decoration: none;
    color:white;
    padding: 5px;
}
#here{
    color: cornflowerblue;
}
#profile{
    box-sizing: content-box;
    width: 250px;
    height: auto;
    border: 1px solid black;
    padding:20px;
    padding-left:40px;
    float: left;   
    font-weight: bold;
    position: fixed;
    top: 150;
    left: 70%;
    right: 10;
}

#team{
    box-sizing: content-box;
    width: 250px;
    height: auto;
    border: 1px solid black;
    padding:20px;
    padding-left:40px;
    float: left;   
    font-weight: bold;
    position: fixed;
    bottom: 0;
    left: 70%;
    right: 0;
}

#pic{
    height: 200px;
}
#icon{
    border-radius: 70%;
    height: 60px;
    margin-top: 20px;
    margin-left:-10px;
}
button{
    width: 225px;
    padding: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    font-weight: bold;
}
.blue{
    border: 3px solid blue;
    color: blue;
}

.list{
    position: absolute;
    top: 150;
    left: 85%;
    margin-top: -50px;
}