.profile_body{
    margin:0 auto;
    height: 100%;
    width: 100%;
}
.profile_main {
    margin-left: 25%;
    box-sizing: content-box;
}
.pf1 {
    box-sizing: content-box;
    width: auto;
    float: left;
    display: block;
    margin-right: 168px;
    margin-top: 120px;
}
.div_detail {
    margin-bottom: 0;
}
.info_font {
    display: inline-block;
    font-size: 25px;
    line-height: 29px;
    letter-spacing: 0.3em;
    padding-right: 30px;
    margin-top: 0;
}
.info_detail {
    letter-spacing: normal;
    display: inline;
    font-size: 20px;
}

.info_letter-spacing {
    letter-spacing: 1.5em;
    padding-right: 5px;
}
.pf_input {
    height: 30px;
}
.pf { 
    margin-bottom: 20px;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.3em;
    display: block;
    font-weight: normal;
}
.pf_image {
    width: 200px;
    height: 200px;
    margin-bottom: 10px;
    padding-left: 15px;
}
.camera_image {
    position: relative;
    width: 50px;
    height: 50px;
    left: -50px;
    top: -150px;
}
.edit {
    letter-spacing: 0.3em;
    font-size: 20px;
    line-height: 23px;
    color: #716E6E;
    text-decoration: none;
    margin-left: 65px;
}

.pf2 {
    box-sizing: content-box;
    width: 500px;
    height: auto;

    float: left;
    margin-top: 220px;
}

.check {
    margin-left: 30px;
}
.hr {
    width: 600px;
    border: 0;
    height: 2px;
    background: #000538;
    margin-top: 30px;
}

.skills {
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.2em;
}
.skill {
    box-sizing: content-box;
    width: 80px;
    height: 80px;

    background: #000538;
    border-radius: 30%;

    font-size: 20px;
    line-height: 80px;
    text-align: center;
    letter-spacing: 0.1em;

    color: #FFFFFF;
    float: left;
    margin-right: 13px;
}
.sk_font2 {
    font-size: 30px;
    line-height: 35px;
    letter-spacing: 0.2em;
    padding-top: 10px;
}
.sk_box {
    width: auto;
    height: 40px;
    margin-bottom: 10px;
    margin-top: 10px;
    background: #FFFFFF;
    border: 2px solid #000538;
    box-sizing: border-box;
}

.select1 {
    display: inline;
    cursor: pointer;
    width: 177px;
    height: 36px;
    padding: .375rem 2.25rem .375rem .75rem;
    color: #212529;
    background-color: #fff;
    background-image: url('/images/select.svg');
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
.detail_input {
    height: 35px;
    width: 600px;
    font-size: 20px;
}