.nav {
    width: 100%;
    height: 7vh;
    display: flex;
    background: #000538;
    border-top: 1.5px solid #424779;
}
.navp {
    font-size: 15px;
    line-height: 100%;
    text-align: center;
    letter-spacing: 0.1em;
    background: #000538;
    display: flex;
}
.a {
    text-decoration: none;
    background: #000538;
}
.all {
    margin-left: 40px;
    color: #FFFFFF;
}

.tutoring {
    margin-left: 76px;
    color: #FFFFFF;
}
.contest {
    margin-left: 76px;
    color: #FFFFFF;
}
.creative_semester {
    margin-left: 76px;
    color: #FFFFFF;
}
.creative_community {
    margin-left: 76px;
    color: #FFFFFF;
}
.hackathon {
    margin-left: 76px;
    color: #FFFFFF;
}

.new {
    position: absolute;
    right: 30px;
    color: #FFFFFF;
}