.input1 {
    position: relative;
    display: flex;
    align-items: stretch;
    width: 540px;
    height: 43px;

    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    background: #FFFFFF;
    margin: 0 auto;
    margin-top: 207px;
}
.form-control {
    display: block;
    width: 100%;
    padding: .375rem .95rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    background-color: #fff;
    border: 1px solid;
    border-top-left-radius: 100px;
    border-bottom-left-radius: 100px;
    position: relative;
    flex: 1 1 auto;
    border-right-style: none;
}
.form-control:focus {outline:none;}

.button {
    cursor: pointer;
    background-color: transparent;
    padding: .375rem .75rem;
    border-top-right-radius: 100px;
    border-bottom-right-radius: 100px;
    position: relative;
    border: 1px solid;
    border-left-style: none;
}
.search_img {
    width: 30px;
    height: 30px;
}

.search_box {
    position: relative;
    margin: 104px auto 0;
    width: 880px;
    height: 253px;

    display: flex;
    flex-wrap: wrap;
    background: #FFFFFF;
    border: 1px solid #000000;
}

.select1 {
    cursor: pointer;
    width: 355px;
    height: 43px;
    padding: .375rem 2.25rem .375rem .75rem;
    color: #212529;
    background-color: #fff;
    background-image: url('/images/select.svg');
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 50px 0 0 75px;
}
.select1_ {
    cursor: pointer;
    width: 540px;
    height: 43px;
    padding: .375rem 2.25rem .375rem .75rem;
    color: #212529;
    background-color: #fff;
    background-image: url('/images/select.svg');
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 50px auto 0;
}
.select2 {
    cursor: pointer;
    width: 160px;
    height: 43px;
    padding: .375rem 2.25rem .375rem .75rem;
    color: #212529;
    background-color: #fff;
    background-image: url('/images/select.svg');
    background-repeat: no-repeat;
    background-position: right .75rem center;
    background-size: 16px 12px;
    border: 1px solid;
    border-radius: .25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 50px 0 0 28px;
}
.select1:focus {outline:none;}
.select2:focus {outline:none;}

.input2 {
    position: relative;
    display: flex;
    width: 540px;
    height: 43px;

    border-top-left-radius: 100%;
    border-bottom-left-radius: 100%;
    background: #FFFFFF;
    margin: 20px auto 0;
}