<!DOCTYPE html>
<html>

<head>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/login.css">

</head>

<body>
    <%- include("../common/header") %>
        <div class="content">
            <a href="/"><img src="/images/logo.png" class="logo__login" alt="logo"></a>
            <h1 class="text_login">LOGIN</h1>
            <form action="" class="login">
                <input type="text" placeholder="이메일" class="email">
                <input type="password" placeholder="비밀번호" class="password">
                <button class="btn_login">로그인</button>
                <label for="stay_login">
                    <input type="checkbox" name="stay_login" id="stay_login">
                    로그인 상태 유지

                </label>
            </form>
            <div class="spliter"></div>
            <span>
                <a href="/find_pw">비밀번호 찾기</a>
                <a href="/registration">회원가입</a>
            </span>
        </div>

</body>

</html>