<header>
    <div class="identity">
        <a href="/"><img src="/images/logo.png" alt="logo"></a>
        <a href="/"><img src="/images/linkus.png" alt="linkus"></a>
    </div>
    <nav class="category">
        <ul class="nav__links">
            <li><a href="/page/project">프로젝트</a></li>
            <li><a href="/page/study">스터디</a></li>
            <li><a href="/page/program">교내 프로그램</a></li>
        </ul>
        <div class="dropdown-content">
            <ul class="dropdown_category__project">
                <li><a href="/page/project">전체</a></li>
                <li><a href="/page/project/class">수업</a></li>
                <li><a href="/page/project/interest">관심</a></li>
            </ul>
            <ul class="dropdown_category__study">
                <li><a href="/page/study">전체</a></li>
                <li><a href="/page/study/class">수업</a></li>
                <li><a href="/page/study/interest">관심</a></li>
            </ul>
            <ul class="dropdown_category__program">
                <li><a href="/page/program">전체</a></li>
                <li><a href="/page/program/tutoring">튜터링</a></li>
                <li><a href="/page/program/contest">공모전/프로그램</a></li>
                <li><a href="/page/program/creative_semester">창의학기제</a></li>

            </ul>
            <ul class="dropdown_category__program2">
                <li><a href="/page/program/creative_community">창의학습공동체</a></li>
                <li><a href="/page/program/hackathon">해커톤</a></li>
            </ul>
        </div>
        <div class="registration">
            <% if(!authenticate) { %>
                <span class="nav__registration"><a href="/account/login">로그인</a>/<a href="/account/registration">회원가입
                    </a></span>
                <% } else { %>
                    <a href="#">
                        <img src="/images/icon_msg.png" alt="icon_msg">
                    </a>
                    <div class="icon_user">

                        <a href="/profile/my">
                            <img src="/images/icon_user.png" alt="icon_user">
                        </a>
                        <ul class="dropdown_category__account">
                            <li><a href="/profile/my">프로필</a></li>
                            <li><a href="#">회원정보</a></li>
                            <li><a href="/account/logout">로그아웃</a></li>
                        </ul>
                    </div>
                    <% } %>
        </div>
    </nav>


</header>