<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>study</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
</head>
<body>
    <nav class="nav">
        <p><a href="/study/all" class="all navp a">전체</a></p>
        <p><a href="/study/class" class="class navp a">수업</a></p>
        <p><a href="/study/interest" class="interest navp a">관심</a></p>
        <p><a href="/study/<%=form %>/post" class="new navp a">새로운 글 쓰기</a></p>
    </nav>
        <style>
            .<%=form%> {
                color: #F27357;
            }
        </style>
</body>
</html>