<div class="gallery">
    <% for(var i=0; i<rows.length; i++) { %>
        <a class="gallery-item">
            <div class="post-cover">
                <div class="post-info">
                    <span class="post_description">
                        <%= rows[i].short_description %>
                    </span>
                </div>
            </div>
            <img src="https://picsum.photos/320/240" alt="">
            <div class="post_info">
                <span class="post_title">
                    <%= rows[i].title %>
                </span>
                <span class="team_member">
                    <%= rows[i].current_num %> / <%= rows[i].recruit_num %>
                </span>
            </div>


        </a>
    <% } %>
</div>