<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>program</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
</head>

<body>
    <% if(form == "all"){ %>
        <nav class="nav">
            <ul class="navp">
                <li>
                    <a href="/page/program/all">전체</a>
                </li>
                <li>
                    <a href="/page/program/tutoring">튜터링</a>
                </li>
                <li>
                    <a href="/page/program/contest">공모전/창업프로그램</a>
                </li>
                <li>
                    <a href="/page/program/creative_semester">창의학기제</a>
                </li>
                <li>
                    <a href="/page/program/creative_community">창의학습공동체</a>
                </li>
                <li>
                    <a href="/page/program/hackathon">해커톤</a>
                </li>
            </ul>
        </nav>
        <% } else if (form=="tutoring"|| form=="contest"|| form=="creative_semester"|| form=="creative_community"|| form=="hackathon") { %>
            <nav class="nav">
                <ul class="navp">
                    <li>
                        <a href="/page/program/all">전체</a>
                    </li>
                    <li>
                        <a href="/page/program/tutoring">튜터링</a>
                    </li>
                    <li>
                        <a href="/page/program/contest">공모전/창업프로그램</a>
                    </li>
                    <li>
                        <a href="/page/program/creative_semester">창의학기제</a>
                    </li>
                    <li>
                        <a href="/page/program/creative_community">창의학습공동체</a>
                    </li>
                    <li>
                        <a href="/page/program/hackathon">해커톤</a>
                    </li>
                </ul>
                <div class="new_post">
                    <a href="/page/program/<%=form %>/post/write">새로운 글 쓰기</a>
                </div>
            </nav>
        <% } %>
        
</body>

</html>