<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>program</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/program_nav.css">
    <link rel="stylesheet" href="/stylesheets/program.css">
    <link rel="stylesheet" href="/stylesheets/post_list.css">
</head>

<body>
    <%- include("../common/header") %>
    <%- include("program_nav") %>

    <form action="/page/program_search/<%=form%>" method="GET">
        <div class="input1">
            <input type="text" class="form-control" name="search" placeholder="검색어를 입력하세요.">
            <button class="button" type="submit">
                <img src="/images/search.png" class="search_img">
            </button>
        </div>
    </form>
        
    <%- include("post_list") %>

</body>

</html>