<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>study</title>
    <link rel='stylesheet' href='/stylesheets/reset.css' />
    <link rel="stylesheet" href="/stylesheets/header.css">
    <link rel="stylesheet" href="/stylesheets/nav.css">
    <link rel="stylesheet" href="/stylesheets/study.css">
    <link rel="stylesheet" href="/stylesheets/post_list.css">

</head>

<body>

    <%- include("../common/header") %>
    <%- include("study_nav") %>

    <% if(form == "all"){ %>
        <form action="/page/study_search/all" method="GET">
           <div class="input1">
                <input type="text" class="form-control" name="search" placeholder="검색어를 입력하세요.">
                <button class="button" type="submit" id="search">
                        <img src="/images/search.png" class="search_img">
                </button>
            </div> 
        </form>
        <% } else if (form=="class") { %>
            <form action="/page/study_search/class" method="GET">
                <div class="search_box">
                    <input placeholder="학수번호" class="select1" name="num">
                    <input placeholder="분반" class="select2" name="div">

                    <div class="input2">
                        <input type="text" class="form-control" name="search" placeholder="검색어를 입력하세요">
                        <button class="button" type="submit">
                            <img src="/images/search.png" class="search_img">
                        </button>
                    </div>
                </div>
            </form>
            
            <% } else if (form=="interest" ) { %>
                <form action="/page/study_search/interest" method="GET">
                    <div class="search_box">
                        <select class="select1_" name="select">
                            <option selected value="0">분야</option>
                            <option value="1">UI/UX 기획</option>
                            <option value="2">게임기획</option>
                            <option value="3">프로젝트 매니저</option>
                            <option value="4">하드웨어(제품) 기획</option>
                            <option value="5">그래픽디자인</option>
                            <option value="6">UI/UX 디자인</option>
                            <option value="7">3D 디자인</option>
                            <option value="8">하드웨어(제품) 디자인</option>
                            <option value="9">IOS</option>
                            <option value="10">안드로이드</option>
                            <option value="11">웹프론트엔드</option>
                            <option value="12">웹퍼블리셔</option>
                            <option value="13">크로스플랫폼</option>
                            <option value="14">웹 서버</option>
                        </select>
                        <div class="input2">
                            <input type="text" class="form-control" name="search" placeholder="검색어를 입력하세요">
                            <button class="button" type="submit">
                                <img src="/images/search.png" class="search_img">
                            </button>
                        </div>
                    </div> 
                </form>
                
            <% } %>
            <%- include("post_search") %>
</body>

</html>